body {
  background-image: url("https://png.pngtree.com/background/20230613/original/pngtree-wallpaper-picture-image_3429357.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}
